<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>

<body>
    <header>
        <%- include('./layout/nav.ejs')%>
    </header>
    <main>
        <% quotes.forEach(quote =>{%>
            <section>
                <h2>
                    <%= quote.character_name %>
                </h2>
                <p>
                    <%= quote.quote %>
                </p>
                <img src="<%=quote.image%>" alt="">
                <form action="/favorite" method="post">
                    <input type="hidden" name="character_name" value="<%= quote.character_name %>">
                    <input type="hidden" name="quote" value="<%= quote.quote %>">
                    <input type="hidden" name="image" value="<%=quote.image%>">
                    <input type="hidden" name="character_direction" value="<%= quote.character_direction %>">

                    <input type="submit" value="Favor Character">
                </form>
            </section>

            <% });%>
    </main>
</body>

</html>